@media  (min-width:768px) and (max-width:1024px) {
    .section1{
        min-height: 0;
    }
   .section2 .columns-2{
    grid-template-columns: repeat(2,1fr);

   } 

   .section4 .columns-4{
    grid-template-columns: repeat(2,1fr);
   }
   .container2 .container1{
    position: static;
   }
    .tile2{
      display: none;
    }

   .section6 .columns-6{
    grid-template-columns: repeat(2,1fr);
   }

   .section9 .columns-7{
    grid-template-columns: repeat(2,1fr);
   }
   .owl-carousel .owl-nav button.owl-prev{
    position: absolute !important;
    left: -5 !important;
    top: 22%;
    font-size: 4rem;
  }
  .owl-carousel .owl-nav button.owl-next{
    position: absolute !important;
    right: -5 !important;
    top: 22%;
    font-size: 4rem;
  }
   
   .section8{
    min-height: 0;
  }

  .section10 {
    min-height: 0;

  }
  .nav-list{
  gap: 1rem;
  }
    
}


@media  (min-width:320px) and (max-width:767px) {
    .section1{
        min-height: 0;
    }
    .section2 .columns-2{
     grid-template-columns: repeat(2,1fr);
 
    } 
 
    .section4 .columns-4{
     grid-template-columns: repeat(2,1fr);
    }
   .container2 .container1{
    position: static;
   }
    .tile2{
      display: none;
    }
    .container1 .content2 {
      margin: 1rem 0rem;
      display: flex;
      gap: 1rem;
      background-color: white;
  }
  .container2 .content2 button {
    height: 2rem;
    width: 2rem;
    font-size: 0.5rem;
}
 
    .section6 .columns-6{
     grid-template-columns: repeat(2,1fr);
    }
 
    .section9 .columns-7{
     grid-template-columns: repeat(2,1fr);
    }
    .owl-carousel .owl-nav button.owl-prev{
        position: absolute !important;
        left: -5 !important;
        top: 2%;
        font-size: 4rem;
      }
      .owl-carousel .owl-nav button.owl-next{
        position: absolute !important;
        right: -5 !important;
        top: 2%;
        font-size: 4rem;
      }

      .section8{
        min-height: 0;
      }

      .section10 {
        min-height: 0;

      }

      .navLinks{
        display: none;
      }

      .mobile-header{
        display: block;
    }
    
    .mobile-header .navIcone{
        display: none;
    }
   .mobile-header .xmark.active{
        display: block;
    }
     
 }