/* general css */

:root {
  --black-clr: #000;
  --offwhite-clr: #f7f7f7;
  --light-grey-clr: #dddddd;
  --spacer: 0.67rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.6875rem;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: grid;
}

section {
  padding-bottom: 2rem;
}

.container {
  padding: 0rem 0.67rem;
  min-height: inherit;
}

img,
svg,
picture {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-clr);
}

i {
  font-family: "FontAwesome";
  font-style: initial;
}

/* general css ends */

.header {
  top: 0;
  position: fixed;
  z-index: 999;
  min-height: 15vh;
  width: 100%;
  background-color: white;
}

.blackbar {
  background-color: black;
  width: 100%;
  padding: .5rem 0rem;
}

.blackbar > span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  text-transform: uppercase;
}

.navLinks {
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 7vh;
}

.nav-list > li > a:nth-of-type(n) {
  text-transform: uppercase;
  color: var(--black-clr);
}



#naviBar {
  padding: 1.7rem 0.5rem;
}

.r-nav{
  width: 50%;
  display: flex;
  justify-content: flex-end;

}

.l-nav{
  width: 50%;
  display: flex;
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainlogo {
  width: 8rem;
  display: block;
}
#mainlogo.active {
  display: none;
}
#mainlogo1 {
 text-align: center;
  width: 8rem;
  display: none;
  font-size: 2rem;
}
#mainlogo1.active {
  display: block;
}

.offer-section {
  background-color: var(--offwhite-clr);
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.67rem;
  text-align: center;
  outline: 1px solid rgb(238, 233, 233);
}

/* Header styling ended */

.navLinks ul li:hover {
  font-weight: bold;
}

/* MOBILE NAVIGATION CSS  */
.mobile-header {
  width: 100%;
}

.mobile-header .flex-row {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mobile-header .mobile-icon {
  display: flex;
  gap: 1rem;
}

.mobile-header .mobile-icon i {
  font-size: 1rem;
  font-weight: 200;
}

.mobile-header input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  position: relative;
}

.mobile-header .mobile-search input {
  position: relative;
}

.mobile-header .mobile-search input:focus {
  outline: none;
}

.mobile-header .mobile-search i {
  position: absolute;
  color: black;
  top: 10px;
  left: 10px;
}

.mobile-header .colum {
  display: flex;
}

.mobile-header .colum .col:nth-of-type(1) {
  border-right: 1px solid #e5e5e5;
}

.mobile-header .col {
  width: 100%;
}

.mobile-navs {
  display: none;
  background: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
}

.mobile-header {
  display: none;
}

.active.mobile-navs {
  display: block;
}

.mobile-header .mobile-navs .column {
  width: 100%;
}

.mobile-header .navIcon {
  position: relative;
  opacity: 1;
}

.mobile-header .xmark {
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: 18px;
}

/* /MOBILE NAVIGATION CSS  */

/* ---SHOP-SECTION--- */

.header .shop:hover + .shop-section {
  display: block;
}
.shop-section:hover {
  display: block;
}

.shop-section {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 1000;
  top: 56%;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: auto;
  display: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: all 0.3s ease-in;
}

.shop-section a {
  text-transform: uppercase;
  color: var(--black-clr);
  line-height: 1.5;
}

.shop-section a:hover {
  opacity: 0.8;
}

.shop-section p {
  margin-top: 0.5rem;
}

.bold {
  font-weight: bold;
}

img {
  width: 100%;
}

.shop-section .grid-row {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.shop-section .top-level-links {
  padding: 1rem 0;
  display: flex;
  gap: 10rem;
}

.shop ul li {
  list-style: none;
}

.shop ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.grid-row .img-container p {
  text-transform: uppercase;
}

/* ---//SHOP-SECTION//--- */
/* COLLECTION-SECTION CSS */

.header .coll:hover + .section-collection {
  display: block;
}

.section-collection:hover {
  display: block;
}

.section-collection {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 1000;
  top: 56%;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: auto;
  display: none;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: all 0.3s ease-in;

}

.section-collection .column .grid-row {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.section-collection .column:first-child {
  margin-bottom: 1rem;
}

.section-collection a {
  color: var(--black-clr);
  line-height: 1.5;
  text-transform: uppercase;
}

.section-collection p {
  margin-top: 0.5rem;
}

.bold {
  font-weight: bold;
}

.section-collection a:hover {
  opacity: 0.8;
}

/* /COLLECTION-SECTION CSS */

/* BRAND SECTION */
.section-brand {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 1000;
  top: 56%;
  left: 0;
  padding: 1.2rem 2rem;
  width: 100%;
  height: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: all 0.3s ease-in;
  display: none;
}

.section-brand ul{
  display: flex;
  gap: 2rem;
}
.section-brand:hover {
  display: block;
}
.brands:hover + .section-brand {
  display: block;
}

/* BRAND SECTION ends*/

/* 247 SECTION */
.section-247 {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 1000;
  top: 56%;
  left: 0;
  padding: 1.2rem 2rem;
  width: 100%;
  height: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: all 0.3s ease-in;
  display: none;
}

.section-247 ul{
  display: flex;
  gap: 2rem;
}
.section-247:hover {
  display: block;
}
.b-247:hover + .section-247 {
  display: block;
}
/* 247 SECTION */

/* ACOUNT SETION */
.section-account {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 1000;
  top: 56%;
  left: 0;
  padding: 1.2rem 2rem;
  width: 100%;
  height: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: all 0.3s ease-in;
  display: none;
}

.section-account ul{
  display: flex;
  gap: 2rem;
}
.section-account ul{
  justify-content: flex-end;
}
.account:hover + .section-account{
  display: block;
}
.section-account:hover{
  display: block;
}
/* /ACOUNT SETION */

/* section 1 styling */
.section1 {
  min-height: 100vh;
  margin-top: 10rem;
}

.section1 .column a:nth-of-type(2){
  display: none;
}

.columns-1 {
  gap: var(--spacer);
}

/* section 1 styling ended */

/* section 2 styling starts */
section .about-item{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 1rem;
margin-bottom: 2rem;
}
section .about-item span:nth-of-type(2){
font-weight: bold;
}
section .about-item span:nth-of-type(n){
    font-size: 0.9rem;
    text-transform: uppercase;
}

.row {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.box {
  position: relative;
  display: inline-block;
  color: black;
  border: 2px solid #fff;
}

.box .content1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.box .content1 span:nth-of-type(1){
    font-weight: bold;
}
.box .content1 span:nth-of-type(n) {
  text-transform: uppercase;
}

.box .content2 {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.box .content2 button {
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 0.7rem;
}
.addIcon{
  display: none;
}
/* tool tip */
#tooltip {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background-color: #282727;
  color: white;
  white-space: nowrap;
  padding: 8px 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 12px;
}
#tooltip::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #282727;
  top: 21px;
  z-index: -1;
  transform: rotate(45deg);
  left: 33px;
}
.box .content2 button:hover #tooltip {
  top: -140%;
  opacity: 1;
  visibility: visible;
}
.box .content2 button:hover {
  outline: 1px solid black;
}
/* tool tip */

/* adding heart icon over images */
.box img {
  width: 100%;
  background: var(--offwhite-clr);
}
.box .image::before {
  content: "\f004";
  font-family: FontAwesome;
  position: absolute;
  right: 6%;
  top: 4%;
  font-size: 1.3rem;
}
.hover-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.box:hover .front-img {
  opacity: 0;
}

.box:hover .hover-img {
  opacity: 1;
  cursor: pointer;
}
/* //adding heart icon over images */

/* section 2 styling ended */

/* section3 styling starts */
.section3 {
  min-height: 100vh;
}

.column-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacer);
}

.column-3 #column1 {
  grid-column: 1/4;
}

.column-3 #column5 {
  grid-column: 1/4;
}

.column-3 #column6 {
  grid-column: 1/4;
}
/* section3 styling ends */






/* section 4 stylings starts ------------*/
         /* SAME AS SECTION 2 */
/* section 4 stylings starts------------ */

/* section 6 stylings starts */
  /* SAME AS SECTION 2 */
/* section 6 stylings ends */






/* section 8 stylings starts */
.section8 {
  min-height: 70vh;
}

.section8 .heading {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section8 .heading span:nth-child(1) {
  font-size: 0.8125rem;
}

.section8 .heading span:nth-child(2) {
  font-size: 0.8125rem;
  font-weight: bold;
}

.fall-winter {
  gap: 2rem;
}

.owl-carousel .item .price {
  gap: 0.67rem;
  margin-top: var(--spacer);
}

.owl-carousel .item .price > span:nth-child(1) {
  font-size: 0.6875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.owl-carousel .item .price > span:nth-child(2) {
  font-size: 0.6875rem;
  text-transform: uppercase;
}

/* section 8 stylings ends */

/* section9 styling starts */
.section9 {
  min-height: 70vh;
}

.inside-rep {
  gap: 2rem;
}

.columns-7 {
  grid-template-columns: repeat(4, 1fr);
  gap: 0.67rem;
}

.columns-7 .column {
  display: flex;
  justify-content: center;
  position: relative;
}

/* section9 styling ends */

/* section 10 */
.section10 {
  min-height: 70vh;
}

.shop-insta {
  gap: 2rem;
  align-items: center;
}

.section10 .button1 {
  padding: 1rem 2rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* section 10 */

/* ---FOOTER--- */

.footer {
  padding: 1rem;
  width: 100%;
  background-color: #f7f7f7;
}

.footer .flex-row {
  gap: 2rem;
}

.footer .flex-row .column {
  width: 33.3333%;
}

.flex-row .col {
  display: flex;
  flex-direction: column;
}

.flex-row .col li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.flex-row .col .link {
  border-top: 1px solid #e5e5e5;
}

.flex-row .col .link a {
  color: #000;
  float: left;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.flex-row .col li i {
  font-size: 1.4rem;
}

.column ul li a {
  display: block;
}

.flex-row .col li img {
  float: right;
}

.rightarrow {
  width: 20px;
}

.social {
  display: flex;
  gap: 1rem;
}

.cards {
  padding-top: 1rem;
  display: flex;
  gap: 0.2rem;
}

.cards li a img {
  filter: grayscale(1);
}



/* ----//FOOTER--- */

/* ABOUT SECTION STYLING */

/* section1-1  */
.section1-1 {
  min-height: 10vh;
}

.about {
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about h1 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.about span {
  line-height: 1rem;
}

/* //styling1-1 */

/* section2-1  */
.wrapper {
  max-width: 1300px;
  margin-inline: auto;
  padding: 0 1.5rem;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: var(--light-grey-clr);
  left: 50%;
  top: -26px;
  transform: translateX(-50%);
  z-index: -1;
}

.wrapper .row {
  display: flex;
}

.wrapper .row-1 {
  justify-content: flex-end;
}

.wrapper .row-2 {
  justify-content: flex-start;
}

.wrapper .row section {
  background: var(--offwhite-clr);
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  margin: 2rem 0rem;
}

/* adding before */
.wrapper .row section::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: var(--light-grey-clr);
  top: 3px;
  z-index: -1;
  transform: rotate(45deg);
}

.row-1 section::before {
  left: -6px;
}

.row-2 section::before {
  right: -7px;
}

/* //adding before */

/* adding after */
.wrapper .row section::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: var(--light-grey-clr);
  top: 3px;
  z-index: 1;
  transform: rotate(0deg);
}

.row-1 section::after {
  left: -47px;
}

.row-2 section::after {
  right: -48px;
}

/*// adding after */
.row section .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

.row section p {
  margin: 10px 0 17px 0;
  line-height: 1rem;
}

.row .bottom span {
  font-weight: bold;
}

/* adding date divs */
.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date h1 {
  background-color: var(--light-grey-clr);
  padding: 0.5rem 1.4rem;
}

/* adding date divs */



/* //styling2-1 */

/* back to top button */
.to-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 94%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  pointer-events: auto;
  opacity: 1;
}

.top {
  background-color: #c4c4c4;
  border-radius: 30px;
  padding: 0.6rem 1rem;
  opacity: 0.9;
}

.top i {
  font-size: 0.9rem;
  color: white;
  font-family: FontAwesome;
}

.top span {
  color: white;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

/* //back to top button */

/* ABOUT SECTION STYLING ENDS */



/* -----PRESTIGE -----*/
.section-header{
  place-items: center;

  position: relative;
}

.section-header::before{ 
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
 background-image: url(/images/prestiege-head.webp);
 background-size: cover;

}
.section-header .flex-row{
  justify-content: left;
  flex-direction: column;
 position: relative;
}
.section-header .content{
position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 17% 7%;
}
.section-header .content h2,.section-header .content  p{
  color: #ffffff;
  margin-top: 1rem;
}
.section-header .content p{
  line-height: 1.5;
  font-size: 11px;
}
.section-header .contentimg{
height: 60px;
width: 180px;
}
.button{
  display: flex;
  gap:1rem;
}
.btn{
width: 10rem;
padding: 0.7rem 0;
border: none;
font-size: 11px;
}

/* main */
.section-main{
padding: 2rem 1rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.section-main .main-head-content{
  text-align: center;
margin-bottom: 4rem;
line-height: 1.3rem;
}
.section-main .main-head-content p{
  margin-top: 1rem;
}
.tiers{
  padding-top: 1.2rem 0;
}
.main-bottom-content {
padding-top: 1rem;
margin-bottom: 5rem;
}
.main-bottom-content .column img{
max-width: 120px;
}
.main-bottom-content .grid-row{
 padding: 1rem 0;
  grid-template-columns: repeat(5,1fr);
  gap: 5rem;
}
.tiers-bold{
  margin-bottom: 1rem;
  }
 span{
  font-size: 10px;
 }
 span .bold{
  font-size: 11px;
  font-weight: bold;
 }
.main-bottom-content .column , .tiers-bold{
display: flex;
align-items: center;
flex-direction: column;
gap: .5rem;
}
/* //main */

/* ----PRESTIGE-FOOTER----- */
.section-footer{
padding: 0 .5rem;
width: 100vw;
height: 50vw;
box-sizing: border-box;
}
.section-footer .grid-row{
  grid-template-columns: 1fr 1fr 1fr;
gap: .5rem;
}
.section-footer  p{
  margin-top: 1rem;
}
.section-footer h3,.section-footer  p{
  color: #fffefe;
}
.row1{

  display: flex;
 text-align: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/images/prestige-row1.webp);
  max-width: 33vw;
  height: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 2rem;
}
.row2{

  display: flex;
  text-align: center;
   justify-content: center;
   flex-direction: column;
  background-image: url(/images/prestige-row2.webp);
  max-width: 33vw;
height: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 2rem;
}
.row3{

  display: flex;
  text-align: center;
   justify-content: center;
   flex-direction: column;
  background-image: url(/images/prestige-row3.webp);
  max-width: 33vw;
  height: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 2rem;

}
.row4{
  padding:0 7%;
  margin-top: .6rem;
height:20rem;
  display: flex;
  text-align: center;
   justify-content: center;
   flex-direction: column;
  background-image: url(/images/prestige-row4.webp);
  max-width: 1890px;
 height: 15vw;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}
.row4 .button{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* ----//PRESTIGE-FOOTER----- */
/* -----//PRESTIGE -----*/




/* -------------------------Brand-Media-css */
.section-media{
  padding: 3rem .5rem;
}

.section-media .head{
padding-bottom: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.section-media .flex-row{

  flex-wrap: wrap;
  padding: 0 5px;

}
.section-media .flex-row .flex-column{

flex: 25%;
padding: 0 5px;
margin: 0 auto;
}
.section-media .flex-row .flex-image{
  overflow:hidden;
  max-width: 100%;

}
.section-media .flex-row .flex-image img{
width: 100%;
filter: grayscale(100%);
transition: 0.3s all ease-in-out;

}
.section-media .flex-row .flex-image img:hover{
width: 100%;
filter: grayscale(0%);
transform: scale(1.05);
}
.section-media .flex-row .flex-data{
  margin-bottom: 2rem;
}
.section-media .flex-row .flex-data .bold{
  color: #000;
}
.section-media .flex-row .flex-data h3{
  padding-top: .5rem;
  font-size:11px;
  color: rgb(118, 118, 118);
}

/* -------------------------///Brand-Media-css */
/* sign in */
.signin{
  box-sizing: border-box;
 /* padding: 7rem 3rem 3rem  3rem; */
 margin-top: 13rem;
}
.signin .main .text-container .form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 2rem;
text-align: center;
}
.signin .main .text-container h2{
  margin-bottom: 1rem;
}
.signin .main .text-container form{

  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signin .main .text-container a{
font-size: 11px;
  color: #000;
  font-weight: bold;
}

.signin .main .text-container .input-style{
  min-width: 216px;
  padding-bottom: .7rem;
  font-size: 11px;
  width: 28vw;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--black-clr);
}
.signin .main .text-container input:focus{
  outline: none;
}
.signin .main .text-container button{
  width: 216px;
  border: none;
  padding: .7rem 0;
  background-color: #000;
  color:#fff;
  margin-bottom: 1rem;
  font-size: 11PX;
}
.signin .main .text-container .signin{
  min-width: 216px;
  margin-top: -.7rem;
  width: 28vw;
}

.signin .main .text-container h4{
  margin-bottom: 1rem;
}
.signin .main .text-container .create p{
 margin-top: 1.5rem;
 line-height: 2rem;
}
.signin .main .text-container .name {
  display: flex;
  gap: 1rem;
}
.signin .main .text-container .name input{

  padding-bottom: .7rem;
  font-size: 11px;
  width: 13.6vw;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--black-clr);
}
.form form span{
  line-height: 1.3rem;
  font-size: 11px;
}

strong{
  line-height: 1.5rem;
}
strong #grey{
  text-decoration: underline;
  color: rgb(109, 109, 109);
}


/* SECTION T-SHIRTS CSS */
.section-t-shirt{
  width: 100%;
  margin-top: 15rem;
}

.row{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 0.5rem;
}
/* /SECTION T-SHIRTS CSS */

/* -----//sign in */

/* ---------------------//247App ---------- */

.app .container{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
  gap: 1.5rem;
}
.container .logo{
display: flex;
align-items: center;
justify-content: center;
}
.container .logo-img{
  width: 100px;
}
.input-style1{
  border: none;
}
.app{
  box-sizing: border-box;
  margin-top: 1rem;
  padding: .5rem ;
}
.app .main-app .text-container h2{
  font-size: 11px;
  margin-bottom: 1rem;
}
.app .text-container form{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.app .main-app .text-container a{
font-size: 11px;
  color: #000;
  font-weight: bold;
}

.app .text-container .name {
  display: flex;
  gap: 1rem;
}
.app .main-app .text-container .input-style-app{
 padding: .7rem;
    font-size: 11px;
    width: 14.6vw;
    min-width: 100px;
    text-align: center;
    border: 1px solid black;
    text-align: left;
  }

.app .main-app .text-container .input-style1{
  min-width: 216px;
  padding: .7rem;
  border: 1px solid black;
  font-size: 11px;
  width: 30vw;
  text-align: left;
}
.app .main-app-app .text-container input:focus{
  outline: none;
}
.app .main-app .text-container .line-height{
  line-height: 1.2rem;
  color: rgb(95, 95, 95);
}
.app .main-app .text-container .signup{
  width:30vw;
  padding: .7rem 0;
  color: #fff;
  border: 1px solid black;
  background-color: #000;
}


iframe{
  margin-top: 3rem;
  width:98vw !important;
  height: 55vw !important;
}
.app-image-container{
  width: 100%;
display: grid;
grid-template-columns: repeat(3,1fr);
 gap: .5rem;
}

.text-center{
  padding: 2.5rem 0 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.text-center span{
  font-size: 15px;
}
.text-center h2{
  font-size: 15px;
}
/* ---------------------//247App ---------- */

/* Owl carousel css next and prev */

 .owl-carousel .owl-nav button.owl-prev span  {
  position: absolute;
  left: 6px; top: -29%!important;
  font-size: 2rem !important;
}
.owl-carousel .owl-nav button.owl-next span  {
  position: absolute;
  right: 6px; top: -29%!important;
  font-size: 2rem !important;
}
 .owl-carousel .owl-nav button{
  background-color: #111 !important;
  color: #fff !important;
  border-radius: 50% !important;
  width: 25px !important;
  height:  25px !important;
}

.owl-carousel .owl-nav button.owl-next  {
  font-size: 1rem !important;
} 
/* Owl carousel css next and prev */


/* Add to cart section */
.section-add-cart{
  margin-top: 13rem;
}

.section-add-cart .container{
  max-width: 1600px;
  margin-inline: auto;
}
/* /Add to cart section */