/* HEADER */
/* MEDIA QUERY FOR tablet DESIGN */
@media  (max-width:1024px) {
    .navMenu{
        display: none;
    }
    .mobile-nav{
       display: block;
    }
    .mobile-nav>img {
        width: 15rem;
        height: 15rem;
      }
      #menuBar{
        display: block;
      }
      .arrow span>i {
        float: right;
        font-size: 1.2rem;
        cursor: pointer;
        
      }
      .mobile-nav {
        position: absolute;
        left: -100%;
        top: 0%;
        width: 20rem;
        height: 100vh;
        background-color: white;
        overflow-y: scroll;
        z-index: 1;
        transition: all 0.2s ease;
      }
      .mobile-nav.active {
        left: 0%;
        height: 100vh;
      }
      .heading {
        background-color: #212121;
        width: 100%;
        position: sticky;
        top: 0%;
      }
      .heading h1 {
        color: #979ea9;
        padding: 1rem 2rem;
        font-size: 0.915rem;
        font-family: roboto;
      }
      
      .sub-heading {
        background-color: #212121;
        width: 100%;
        position: sticky;
          top: 0;
      }
      .sub-heading h1 {
        font-family: roboto;
        color: #979ea9;
        padding: 1rem 2rem;
        font-size: 1.1rem;
        
      }
      .nav-links > ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .nav-links > ul > li > span {
        color: white;
        display: inline-block;
        padding: 1rem 2rem;
        border-bottom: 1px solid grey;
        width: 100%;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
      .nav-items {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0rem 2rem;
      }
      
      .nav-items > span {
        text-transform: uppercase;
        font-weight: bold;
      }
      .nav-items span:last-child::after{
      content: "\f178";
      font-family: FontAwesome;
      font-style: normal;
      margin-left: 1rem;
      }
      
      .slider {
        visibility: hidden;
        position: absolute;
        top: 0%;
        left: 110%;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: white;
        transition: all 0.4s ease;
      }
      .slider.active {
        visibility: hidden;
        position: absolute;
        top: 0%;
        left: 110%;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: white;
        transition: all 0.4s ease;
      }

      
      #new:hover .slider {
        visibility: visible;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      #shop:hover .slider {
        visibility: visible;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      #custom:hover .slider {
        visibility: visible;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      #tattoo:hover .slider {
        visibility: visible;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      #sale:hover .slider {
        visibility: visible;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      #categories:hover .slider {
        visibility: visible;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      /* scroll bar */
      ::-webkit-scrollbar {
        width: 0px;
        opacity: 0.7;
      }
      
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background: rgb(158, 156, 156);
        border-radius: 10px;
      }
}
/* //MEDIA QUERY FOR tablet DESIGN */



/* //MEDIA QUERY FOR mobile DESIGN */

@media (max-width:700px){
    .secondaryNav .icons>i {
        display: none;
    }
}
/* //MEDIA QUERY FOR mobile DESIGN */
/*------------------// HEADER--------------------- */


/* MAIN */
/* media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        font-size: 2rem;
    }
    .section-two .column .grid-row {
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    .section-two {
        margin: 4rem 0;
    }

    .section-three .column img {
        height: 430px;
    }

    .section-four .container {
        padding: 0 2rem;
    }

    .section-two .container {
        padding: 0 2rem;
    }

    .section-three .container {
        padding: 0 2rem;
    }

    .section-three {
      
        margin: 4rem 0;
    }

    .section-four {
     
        margin: 4rem 0;
    }

    .section-sixth .container {
        padding: 0 2rem;
    }

    .section-seventh .container {
        padding: 0 2rem;
    }

    .section-seventh {
    
        margin: 4rem 0;
    }

    .section-seventh .grid-row {
        grid-template-columns: 32% 65%;
        gap: 2rem;
       
    }

    .section-seventh .h1{
        font-size: 1.5rem;
    }

    .section-seventh .content-container {
        gap: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    h1{
        font-size: 1.5rem;
    }

    .section-one .grid-row {
        grid-template-columns: repeat(2,1fr);
    }
    .section-two .column .grid-row {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .section-two {
        margin: 2rem 0;
    }

    .section-three .column img {
        height: 330px;
    }

    .section-four .container {
        padding: 0 1rem;
    }

    .section-two .container {
        padding: 0 1rem;
    }

    .section-three .container {
        padding: 0 1rem;
    }

    .section-three {
      
        margin: 2rem 0;
    }

    .section-four {
     
        margin: 2rem 0;
    }

    .section-fivth .grid-row {
        grid-template-columns: repeat(2,1fr);
    }

    .section-sixth .container {
        padding: 0 1rem;
    }

    .section-sixth .grid-row {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    .section-seventh .container {
        padding: 0 2rem;
    }

    .section-seventh .column img {
        height: 37vh;
    }

    .section-seventh {
    
        margin: 2rem 0;
    }

    .section-seventh .grid-row {
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
       
    }

    .section-seventh .ml {
        justify-content: center;
    }

    .section-seventh .h1{
        font-size: 1.5rem;
    }

    .section-seventh .content-container {
        gap: 1rem;
        justify-content: center;
        align-items: center;

    }

    .section-seventh .content-container span br{
        display: none;
    }

    .section-seventh .content-container h1{
        text-align: center;
    }

    .section-seventh .content-container span{
        text-align: center;
    }
}
/* -------------------------FAQ-SECTION */
@media screen and (max-width:1024px){
    .accordion{
        width: 100%; 
        padding: 0rem ;
       background-color: #f4f5f7;
    }
    .accordion .contentBox{
        position: relative;
        margin: 50px 0px;
          width: 100%;
      }
    
}
@media screen and (max-width:690px){
    .accordion .flex-row{
      
        flex-direction: column;
    }
    .accordion h3{
        text-align: center;
    }
    .accordion .flex-row{
    align-items: center;
    }
    .accordion .contentleft{
        width: 100%;
    }
    .accordion .contentright{
        width: 100%;
    }
}
/* -------------------------//FAQ-SECTION */
/*//---------------- MAIN--------------------- */



/* MAIN */
@media screen and (max-width:1024px){
    .fix-width{
        width: 120px;
    }
    .footer .flex-row {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    .cite-logo{
        flex-direction: column;
    }
    .cite .cite-logo p{
        margin: 0.7rem 0 0 0rem;
    }
    .text .display-none{
        display: none;
    } 
    .icons{
        display: none;
    }
    .cite-logo{
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .cite-logo svg{
        width: 100px;

        
    }
    .social-icons .icons{
        margin-inline: auto;
        width: 40%;
      display: flex;
    }
.r-cite{
    display: flex;
}
    .media-cite{
        display: none;
        align-items: center;
        justify-content:center;
    }
 
}
@media screen and (max-width:770px){
   
    .footer-col .header{
        margin-bottom: 2rem;
     }
  .column{
    flex-direction: column;
  }
.footer-col {
    max-width: 500px;
    justify-content: space-between;
}
.display-none2{
    display: none;
}

.social-icons{
    display: none;
}
.social-icons .icons{
    display: none;
}
.social-fa{
    display:flex;
    align-items: center;
    justify-content: center;
}
.cite{
    flex-direction: column;
    text-align: center;
}

.r-cite a{
    font-size: 14px;
}
.media-cite{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .container{
    padding: 0rem 0rem;
    }
}
/*//-------------------- FOOTER ------------------*/

/* media-queries  */
/* ---------------------SECTION-PRODUCT */

            
@media screen and (max-width:1024px){
    .product .left-column .grid-box {
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    } 

}
@media screen and (max-width:770px){
    .product .container .grid-row{
        grid-template-columns: 1fr;
        gap: 0rem;
    }
    .product .left-column .grid-box {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 1fr;
    } 
    .shop-insta .grid{
        width: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap :1rem;
    }
    .shop-insta{
        margin: 10vh 0;
    }
    .shop-similar{
        margin-top: 4rem;
        padding: 1rem 0rem;
    }
  
}
@media screen and (max-width:650px){
   
    .product .container .grid-row{
        grid-template-columns: 1fr;
        gap: 0rem;
    }
  .row{
       margin-bottom: 1rem;
  }
  .product .left-column .grid-row {
            margin-top: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
} 
.product .right-column{
    margin-top: -5rem;
}
.product{
    margin-top: 7rem;
    padding: 1rem 0;
      box-sizing: border-box;
}
.shop-similar{
    margin-top: 4rem;
    padding: 1rem 2rem;
}


      }
      @media screen and (max-width:450px){
        .product .left-column .grid-box {
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr 1fr;
        } 
        .product .left-column{
            margin-bottom: 15vh;
        }
    }
/* SHOP-SIMILAR */
@media screen and (max-width:1300px){
    .shop-similar .slide-box .image{
        height: 237px;
        width: 190px;
        overflow: hidden;
    }
    .shop-similar .slide-box .image img{
        height: 233px;
        width: 186px;
    }
    .shop-similar .slide-box i{
      margin-right: 6rem;
    }
    .owl-next{
        position: absolute;
        top: 20%;
        right: 0;
        font-size: 2rem;
    }
    .owl-prev{
        position: absolute;
        top: 20%;
        left: 0;
    }

}

/* //SHOP-SIMILAR */


